doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='')
		meta(name='author', content='')
		title Air Quality Dashboard
		// Bootstrap core CSS
		link(href='/vendor/bootstrap.min.css', rel='stylesheet')
		// Custom fonts for this template
		link(href='/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
		// Page level plugin CSS
		link(href='/vendor/datatables/dataTables.bootstrap4.css', rel='stylesheet')
		// Custom styles for this template
		link(href='/vendor/admin/sb-admin.css', rel='stylesheet')
		// Dynamic Graphs
		script(src='static-currency-graphs.js')
	body#page-top.fixed-nav.sticky-footer.bg-dark(onload='indexOnload()')
		// Navigation
		nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
			a.navbar-brand(href='index.html') Air Quality
			button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarResponsive.collapse.navbar-collapse
				ul#exampleAccordion.navbar-nav.navbar-sidenav
					li.nav-item(data-toggle='tooltip', data-placement='right', title='Dashboard')
						a.nav-link(href='index.html')
							i.fa.fa-fw.fa-dashboard
							span.nav-link-text Dashboard
					li.nav-item(data-toggle='tooltip', data-placement='right', title='Purchasing')
						a.nav-link(href='purchasing.html')
							i.fa.fa-fw.fa-area-chart
							span.nav-link-text Graphs
					li.nav-item(data-toggle='tooltip', data-placement='right', title='Map')
						a.nav-link(href='map.html')
							i.fa.fa-fw.fa-map
							span.nav-link-text Quality Map
					li.nav-item(data-toggle='tooltip', data-placement='right', title='Tables')
						a.nav-link(href='tables.html')
							i.fa.fa-fw.fa-table
							span.nav-link-text Tables
					li.nav-item(data-toggle='tooltip', data-placement='right', title='Components')
						a.nav-link(href='settings.html')
							i.fa.fa-fw.fa-wrench
							span.nav-link-text Settings
					li.nav-item(data-toggle='tooltip', data-placement='right', title='Example Pages')
						a.nav-link.nav-link-collapse.collapsed(data-toggle='collapse', href='#collapseExamplePages', data-parent='#exampleAccordion')
							i.fa.fa-fw.fa-file
							span.nav-link-text Sensor Data
						ul#collapseExamplePages.sidenav-second-level.collapse
							li
								a(href='pm25.html') Particles (PM2.5)
							li
								a(href='pm10.html') Particles (PM10)
							li
								a(href='carbonmonoxide.html') Carbon Monoxide
								// mq7
							li
								a(href='propane.html') Propane
								// mq2
							li
								a(href='butane.html') Butane
								// mq6
							li
								a(href='hydrogen.html') Hydrogen
								// mq5
							li
								a(href='methane.html') Methane
								// mq4
							li
								a(href='benzine.html') Benzine
								// mq3
				ul.navbar-nav.sidenav-toggler
					li.nav-item
						a#sidenavToggler.nav-link.text-center
							i.fa.fa-fw.fa-angle-left
				ul.navbar-nav.ml-auto
					//
						<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-fw fa-envelope"></i>
						<span class="d-lg-none">Messages
						<span class="badge badge-pill badge-primary">12 New</span>
						</span>
						<span class="indicator text-primary d-none d-lg-block">
						<i class="fa fa-fw fa-circle"></i>
						</span>
						</a>
						<div class="dropdown-menu" aria-labelledby="messagesDropdown">
						<h6 class="dropdown-header">New Messages:</h6>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">
						<strong>David Miller</strong>
						<span class="small float-right text-muted">11:21 AM</span>
						<div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome! These messages clip off when they reach the end of the box so they don't overflow over to the sides!</div>
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">
						<strong>Jane Smith</strong>
						<span class="small float-right text-muted">11:21 AM</span>
						<div class="dropdown-message small">I was wondering if you could meet for an appointment at 3:00 instead of 4:00. Thanks!</div>
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">
						<strong>John Doe</strong>
						<span class="small float-right text-muted">11:21 AM</span>
						<div class="dropdown-message small">I've sent the final files over to you for review. When you're able to sign off of them let me know and we can discuss distribution.</div>
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item small" href="#">View all messages</a>
						</div>
						</li>
					li.nav-item.dropdown
						a#alertsDropdown.nav-link.dropdown-toggle.mr-lg-2(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
							i.fa.fa-fw.fa-bell
							span.d-lg-none
								| Alerts
								span.badge.badge-pill.badge-warning 3 New
							span.indicator.text-warning.d-none.d-lg-block
								i.fa.fa-fw.fa-circle
						.dropdown-menu(aria-labelledby='alertsDropdown')
							h6.dropdown-header New Alerts:
							.dropdown-divider
							a.dropdown-item(href='#')
								span.text-success
									strong
										i.fa.fa-long-arrow-up.fa-fw
										| Credit Applied
								span.small.float-right.text-muted 11:21 AM
								.dropdown-message.small Transfer initiated from authorized user.
							.dropdown-divider
							a.dropdown-item(href='#')
								span.text-danger
									strong
										i.fa.fa-long-arrow-down.fa-fw
										| New Purchase
								span.small.float-right.text-muted 1:28 PM
								.dropdown-message.small Online purchase made (Living Expenses)
							.dropdown-divider
							a.dropdown-item(href='#')
								span.text-success
									strong
										i.fa.fa-long-arrow-up.fa-fw
										| Credit Applied
								span.small.float-right.text-muted 10:08 PM
								.dropdown-message.small Transfer initiated from authorized user.
							.dropdown-divider
							a.dropdown-item.small(href='tables.html') View all exchanges
					li.nav-item
						form.form-inline.my-2.my-lg-0.mr-lg-2
							.input-group
								input.form-control(type='text', placeholder='Search for...')
								span.input-group-append
									button.btn.btn-primary(type='button')
										i.fa.fa-search
					li.nav-item
						a.nav-link(data-toggle='modal', data-target='#exampleModal')
							i.fa.fa-fw.fa-sign-out
							| Logout
		.content-wrapper
			.container-fluid
				// Breadcrumbs
				ol.breadcrumb
					li.breadcrumb-item
						a(href='#') Dashboard
					li.breadcrumb-item.active My Dashboard
				// Icon Cards
				//
					<div class="row">
					<div class="col-xl-3 col-sm-6 mb-3">
					<div class="card text-white bg-primary o-hidden h-100">
					<div class="card-body">
					<div class="card-body-icon">
					<i class="fa fa-fw fa-credit-card"></i>
					</div>
					<div class="mr-5">No Budgets Exceeded</div>
					</div>
					<a class="card-footer text-white clearfix small z-1" href="#">
					<span class="float-left">View Details</span>
					<span class="float-right">
					<i class="fa fa-angle-right"></i>
					</span>
					</a>
					</div>
					</div>
					<div class="col-xl-3 col-sm-6 mb-3">
					<div class="card text-white bg-warning o-hidden h-100">
					<div class="card-body">
					<div class="card-body-icon">
					<i class="fa fa-fw fa-bell"></i>
					</div>
					<div class="mr-5">0 Warnings</div>
					</div>
					<a class="card-footer text-white clearfix small z-1" href="#">
					<span class="float-left">View Details</span>
					<span class="float-right">
					<i class="fa fa-angle-right"></i>
					</span>
					</a>
					</div>
					</div>
					<div class="col-xl-3 col-sm-6 mb-3">
					<div class="card text-white bg-success o-hidden h-100">
					<div class="card-body">
					<div class="card-body-icon">
					<i class="fa fa-fw fa-dollar"></i>
					</div>
					<div class="mr-5">2 New Credits</div>
					</div>
					<a class="card-footer text-white clearfix small z-1" href="#">
					<span class="float-left">View Details</span>
					<span class="float-right">
					<i class="fa fa-angle-right"></i>
					</span>
					</a>
					</div>
					</div>
					<div class="col-xl-3 col-sm-6 mb-3">
					<div class="card text-white bg-danger o-hidden h-100">
					<div class="card-body">
					<div class="card-body-icon">
					<i class="fa fa-fw fa-shopping-cart"></i>
					</div>
					<div class="mr-5">1 New Purchase</div>
					</div>
					<a class="card-footer text-white clearfix small z-1" href="#">
					<span class="float-left">View Details</span>
					<span class="float-right">
					<i class="fa fa-angle-right"></i>
					</span>
					</a>
					</div>
					</div>
					</div>
				// Area Chart
				.card.mb-3
					.card-header
						i.fa.fa-area-chart
						| Air Quality Trends
					.card-body
						canvas#myAreaChart(width='100%', height='30')
					.card-footer.small.text-muted Updated yesterday at 11:59 PM
				// End of Chart
				.row
					.col-lg-12
						// Bar Chart Card
						.card.mb-3
							.card-header
								i.fa.fa-bar-chart
								|  Overall Air Quality
							.card-body
								.row
									.col-sm-8.my-auto
										canvas#myBarChart(width='100', height='50')
									.col-sm-4.text-center.my-auto
										#averagePm25.h4.mb-0.text-warning
										.small.text-muted Average PM2.5
										hr
										#averagePm10.h4.mb-0.text-success
										.small.text-muted Average PM10
										hr
										#averageOzone.h4.mb-0.text-success
										.small.text-muted Average Ozone
							.card-footer.small.text-muted Updated yesterday at 11:59 PM
					//
						<div class="col-lg-4">
						          <Pie>Chart Card</Pie>
					//
						<div class="card mb-3">
						<div class="card-header">
						<i class="fa fa-pie-chart"></i> Spending Breakdown</div>
						<div class="card-body">
						<canvas id="myPieChart" width="100%" height="100"></canvas>
						</div>
						<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
						</div>
						</div>
				// DataTables Card
				.card.mb-3
					.card-header
						i.fa.fa-table
						|  Raw Sensor Data
					.card-body
						.table-responsive
							table#indexDataTable.table.table-bordered(width='100%', cellspacing='0')
								thead
									tr
										th Collection Time
										th Particles (PM2.5)
										th Particles (PM10)
										th Ozone (O3)
										th AQI
								tbody#indexDataTableBody
					.card-footer.small.text-muted Updated yesterday at 11:59 PM
			// /.container-fluid
			// /.content-wrapper
			footer.sticky-footer
				.container
					.text-center
						small Copyright © FIT X Lab 2018
			// Scroll to Top Button
			a.scroll-to-top.rounded(href='#page-top')
				i.fa.fa-angle-up
			// Logout Modal
			#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
				.modal-dialog(role='document')
					.modal-content
						.modal-header
							h5#exampleModalLabel.modal-title Ready to Leave?
							button.close(type='button', data-dismiss='modal', aria-label='Close')
								span(aria-hidden='true') ×
						.modal-body Select "Logout" below if you are ready to end your current session.
						.modal-footer
							button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
							a.btn.btn-primary(href='login.html') Logout
			// Bundled Scripts
			// script(src='bundle.js')
			// Custom Onload Scripts
			// script(src='page-onload.js')
			// Bootstrap core JavaScript
			script(src='/vendor/jquery-2.2.3.min.js')
			script(src='/vendor/bootstrap.min.js')
			// Core plugin JavaScript
			script(src='/vendor/jquery.easing.min.js')
			// Page level plugin JavaScript
			script(src='/vendor/chart.js/Chart.min.js')
			script(src='/vendor/datatables/jquery.dataTables.js')
			script(src='/vendor/datatables/dataTables.bootstrap4.js')
			// Custom scripts for all pages
			script(src='/vendor/admin/sb-admin.js')
			// Custom scripts for this page
			script(src='/vendor/admin/sb-admin-datatables.js')
			script(src='/vendor/admin/sb-admin-charts.js')
