
.modal-form-errors.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				button.close(data-dismiss='modal') x
				h4 Error!
			.modal-body
				| There was a problem with your request.
				ul
			.modal-footer
				button(data-dismiss="modal").btn.btn-primary OK