<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Data Dashboard - Settings</title>
    <!--CSS Style Files-->
    <link href="/css/sb-admin.css" rel="stylesheet" type="text/css">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--External Script Files-->
    <script src="/vendor/jquery-2.2.3.min.js"></script>
    <script src="/vendor/jquery.form.min.js"></script>
    <script src="/public/js/views/logout.js"></script>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top" onload="loadScript()">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="index.html">Air Quality</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="navAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="/dashboard">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Sensor Map">
                    <a class="nav-link" href="/map">
                        <i class="fa fa-fw fa-map-o"></i>
                        <span class="nav-link-text">Sensor Map</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Graphs">
                    <a class="nav-link" href="/graphs">
                        <i class="fa fa-fw fa-bar-chart-o"></i>
                        <span class="nav-link-text">Graphs</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                    <a class="nav-link" href="/tables">
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">Tables</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Alarms">
                    <a class="nav-link" href="/alarms">
                        <i class="fa fa-fw fa-bell-o"></i>
                        <span class="nav-link-text">Alarms</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Sensor Data">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSensorData" data-parent="#navAccordion">
                        <i class="fa fa-fw fa-podcast"></i>
                        <span class="nav-link-text">Sensor Data</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseSensorData">
                        <li>
                            <a href="/sensors/temperature">Temperature</a>
                        </li>
                        <li>
                            <a href="/sensors/humidity">Humidity</a>
                        </li>
                        <li>
                            <a href="/sensors/so3">Sulfur Dioxide</a>
                        </li>
                        <li>
                            <a href="/sensors/co">Carbon Monoxide</a>
                        </li>
                        <li>
                            <a href="/sensors/no2">Nitrogen Dioxide</a>
                        </li>
                        <li>
                            <a href="/sensors/o3">Ozone</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Settings">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSettings" data-parent="#navAccordion">
                        <i class="fa fa-fw fa-wrench"></i>
                        <span class="nav-link-text">Settings</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseSettings">
                        <li>
                            <a href="/settings/accounts">Account Management</a>
                        </li>
                        <li>
                            <a href="/settings/alarms">Alarm Settings</a>
                        </li>
                        <li>
                            <a href="/settings/dashboard">Dashboard Settings</a>
                        </li>
                        <li>
                            <a href="/settings/sensors">Sensor Settings</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-bell"></i>
                        <span class="d-lg-none">Alarms
                        <span class="badge badge-pill badge-warning">3 New</span>
                        </span>
                        <span class="indicator text-warning d-none d-lg-block">
                        <i class="fa fa-fw fa-circle"></i>
                    </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">New Alerts:</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <span class="text-success">
                            <strong>
                                <i class="fa fa-long-arrow-up fa-fw"></i>Credit Applied
                            </strong>
                        </span>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">Transfer initiated from authorized user.</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <span class="text-danger">
                            <strong>
                                <i class="fa fa-long-arrow-down fa-fw"></i>New Purchase
                            </strong>
                        </span>
                            <span class="small float-right text-muted">1:28 PM</span>
                            <div class="dropdown-message small">Online purchase made (Living Expenses)</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <span class="text-success">
                            <strong>
                                <i class="fa fa-long-arrow-up fa-fw"></i>Credit Applied
                            </strong>
                        </span>
                            <span class="small float-right text-muted">10:08 PM</span>
                            <div class="dropdown-message small">Transfer initiated from authorized user.</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item small" href="tables.html">View all exchanges</a>
                    </div>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Search for...">
                            <span class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                        </div>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Settings</li>
            </ol>
            <h1>Settings</h1>
            <hr>
            <h3>Account Management</h3>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> User Accounts</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="usersTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>User ID</th>
                                    <th>Username</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Country</th>
                                </tr>
                            </thead>
                            <tbody id="usersTableBody">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted" id="usersTableUpdateTime"></div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> Whitelisted Accounts</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="whitelistTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Access</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody id="whitelistTableBody">
                            </tbody>
                        </table>
                    </div>
                    <a class="btn btn-primary" href="#" id="addUserWhitelist">Add email to whitelist</a><br>
                </div>
                <div class="card-footer small text-muted" id="whitelistTableUpdateTime"></div>
            </div>
            <!-- Blank div to give the page height to preview the fixed vs. static navbar-->
            <div style="height: 1000px;"></div>
        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © FIT X Lab 2018</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <button id="btn-logout" type="button" class="btn btn-primary">Logout</button>
                    </div>
                </div>
            </div>
        </div>
        <!--External Script Files-->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="/vendor/chart.js/Chart.min.js"></script>
        <script src="/vendor/datatables/jquery.dataTables.js"></script>
        <script src="/vendor/datatables/dataTables.bootstrap4.js"></script>
        <script src="/js/dashboard/sb-admin.js"></script>
        <script src="/js/dashboard/sb-admin-datatables.js"></script>
        <script src="/js/dashboard/sb-admin-charts.js"></script>

        <!--Local Script Files-->
        <script>
            function loadScript() {
                if (!!document.getElementById('usersTableBody')) {
                    function httpGet(theUrl) {
                        var xmlHttp = new XMLHttpRequest();
                        xmlHttp.open("GET", theUrl, false); // false for synchronous request
                        xmlHttp.send(null);
                        return xmlHttp.responseText;
                    }
                    var address = String(window.location.href);
                    var userAccounts = httpGet(address.replace(/settings\/accounts/g, 'users'));
                    userAccounts = JSON.parse(userAccounts);
                    for (var account in userAccounts) {
                        var userID = userAccounts[account]['_id'];
                        var userName = userAccounts[account]['user'];
                        var userEmail = userAccounts[account]['email'];
                        var userFullName = userAccounts[account]['name'];
                        var userCountry = userAccounts[account]['country'];

                        var tr = document.createElement("tr");

                        var td0 = document.createElement("td");
                        var text0 = document.createTextNode(userID);
                        td0.appendChild(text0);
                        tr.appendChild(td0);

                        var td1 = document.createElement("td");
                        var text1 = document.createTextNode(userName);
                        td1.appendChild(text1);
                        tr.appendChild(td1);

                        var td2 = document.createElement("td");
                        var text2 = document.createTextNode(userFullName);
                        td2.appendChild(text2);
                        tr.appendChild(td2);

                        var td3 = document.createElement("td");
                        var text3 = document.createTextNode(userEmail);
                        td3.appendChild(text3);
                        tr.appendChild(td3);

                        var td4 = document.createElement("td");
                        var text4 = document.createTextNode(userCountry);
                        td4.appendChild(text4);
                        tr.appendChild(td4);

                        document.getElementById('usersTableBody').appendChild(tr);
                    }
                }
                if (!!document.getElementById('usersTableUpdateTime')) {
                    var today = new Date();
                    var date = (today.getMonth() + 1) + '/' + today.getDate() + '/' + today.getFullYear();
                    var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                    var updateTimeString = "Updated " + date + " at " + time;
                    document.getElementById('usersTableUpdateTime').innerHTML = updateTimeString;
                }

                //whitelist loading
                if (!!document.getElementById('whitelistTableBody')) {
                    function httpGet(theUrl) {
                        var xmlHttp = new XMLHttpRequest();
                        xmlHttp.open("GET", theUrl, false); // false for synchronous request
                        xmlHttp.send(null);
                        return xmlHttp.responseText;
                    }
                    var address = String(window.location.href);
                    var whitelistAccounts = httpGet(address.replace(/settings\/accounts/g, 'whitelist'));
                    whitelistAccounts = JSON.parse(whitelistAccounts);
                    for (var account in whitelistAccounts) {
                        var userEmail = whitelistAccounts[account]['email'];
                        var userAccess = whitelistAccounts[account]['access'];

                        var tr = document.createElement("tr");

                        var td0 = document.createElement("td");
                        var text0 = document.createTextNode(userEmail);
                        td0.appendChild(text0);
                        tr.appendChild(td0);

                        var td1 = document.createElement("td");
                        var text1 = document.createTextNode(userAccess);
                        td1.appendChild(text1);
                        tr.appendChild(td1);

                        var td2 = document.createElement("td");
                        var removeButton = document.createElement("button");
                        removeButton.setAttribute("type", "button");
                        removeButton.setAttribute("class", "btn btn-secondary");
                        removeButton.setAttribute("id", userEmail);
                        var removeText = document.createTextNode("Remove Email");
                        removeButton.appendChild(removeText);
                        removeButton.addEventListener('click', function(event) {
                            var accountEmail = String(event.target.id);

                            var postData = new Object({
                                "command": "remove",
                                "email": accountEmail
                            });

                            var url = String(window.location.href);
                            url = url.replace(/settings\/accounts/g, 'whitelist');
                            var method = "POST";

                            var shouldBeAsync = true;
                            var request = new XMLHttpRequest();

                            request.onload = function() {
                                var status = request.status; // HTTP response status, e.g., 200 for "200 OK"
                                var data = request.responseText; // Returned data, e.g., an HTML document.
                                console.log('status:' + status + ':' + data);
                                if (status == 200) {
                                    console.log("added user to whitelist successfully");
                                    console.log(data);
                                } else {
                                    console.log("added user to whitelist failed");
                                    console.log(data);
                                }
                            }
                            request.open(method, url, shouldBeAsync);
                            request.setRequestHeader("Content-Type", "application/json");
                            request.send(JSON.stringify(postData));

                        });
                        td2.appendChild(removeButton);
                        tr.appendChild(td2);

                        document.getElementById('whitelistTableBody').appendChild(tr);
                    }
                }
                if (!!document.getElementById('whitelistTableUpdateTime')) {
                    var today = new Date();
                    var date = (today.getMonth() + 1) + '/' + today.getDate() + '/' + today.getFullYear();
                    var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                    var updateTimeString = "Updated " + date + " at " + time;
                    document.getElementById('whitelistTableUpdateTime').innerHTML = updateTimeString;
                }
            }
        </script>

        <script>
            $('#addUserWhitelist').click(function($e) {
                $e.preventDefault();

                if (!!document.getElementById('newWhitelist-email')) {
                    //only add one at a time
                } else {
                    var tr = document.createElement("tr");

                    var td0 = document.createElement("td");
                    td0.setAttribute("id", "newWhitelist-email");
                    var text0 = document.createTextNode("Email");
                    td0.appendChild(text0);
                    td0.addEventListener('click', function(event) {
                        var $this = $(this);
                        var listenID = String(event.target.id);
                        var $input = $('<input>', {
                            value: $this.text(),
                            type: 'text',
                            id: String('newWhitelist-email'),
                            blur: function() {
                                $this.text(this.value);
                            },
                            keyup: function(e) {
                                if (e.which === 13) $input.blur();
                            }
                        }).appendTo($this.empty()).focus();
                    });
                    tr.appendChild(td0);

                    var td1 = document.createElement("td");
                    td1.setAttribute("id", "newWhitelist-access");
                    var text1 = document.createTextNode("Access");
                    td1.appendChild(text1);
                    td1.addEventListener('click', function(event) {
                        var $this = $(this);
                        var listenID = String(event.target.id);
                        var $input = $('<input>', {
                            value: $this.text(),
                            type: 'text',
                            id: String('newWhitelist-access'),
                            blur: function() {
                                $this.text(this.value);
                            },
                            keyup: function(e) {
                                if (e.which === 13) $input.blur();
                            }
                        }).appendTo($this.empty()).focus();
                    });
                    tr.appendChild(td1);

                    var td2 = document.createElement("td");
                    var addButton = document.createElement("button");
                    addButton.setAttribute("type", "button");
                    addButton.setAttribute("id", "addEmailToWhitelist");
                    addButton.setAttribute("class", "btn btn-primary");
                    var addText = document.createTextNode("Add Email");
                    addButton.appendChild(addText);
                    addButton.addEventListener('click', function(event) {
                        var newEmailForWhitelist = document.getElementById('newWhitelist-email').innerHTML;
                        var newAccessForWhitelist = document.getElementById('newWhitelist-access').innerHTML;

                        var postData = new Object({
                            "command": "add",
                            "email": newEmailForWhitelist,
                            "access": newAccessForWhitelist
                        });

                        var url = String(window.location.href);
                        url = url.replace(/settings\/accounts/g, 'whitelist');
                        var method = "POST";

                        var shouldBeAsync = true;
                        var request = new XMLHttpRequest();

                        request.onload = function() {
                            var status = request.status; // HTTP response status, e.g., 200 for "200 OK"
                            var data = request.responseText; // Returned data, e.g., an HTML document.
                            console.log('status:' + status + ':' + data);
                            if (status == 200) {
                                console.log("added user to whitelist successfully");
                                console.log(data);
                            } else {
                                console.log("added user to whitelist failed");
                                console.log(data);
                            }
                        }
                        request.open(method, url, shouldBeAsync);
                        request.setRequestHeader("Content-Type", "application/json");
                        request.send(JSON.stringify(postData));
                        document.getElementById('whitelistTableBody').innerHTML = '';
                        loadScript();

                    });
                    td2.appendChild(addButton);
                    tr.appendChild(td2);

                    document.getElementById('whitelistTableBody').appendChild(tr);
                }
            });
        </script>

        <script>
            $(window).on('hashchange', function(e) {
                history.replaceState("", document.title, e.originalEvent.oldURL);
            });
        </script>

        <script>
            $("#btn-logout").click(() => {
                localStorage.removeItem("dataDashFullName");
                localStorage.removeItem("dataDashEmail");
                localStorage.removeItem("dataDashUserName");
                localStorage.removeItem("dataDashCountry");
                localStorage.removeItem("dataDashUserID");
                localStorage.removeItem("dataDashPassHash");
                $.ajax({
                    url: "/logout",
                    type: "POST",
                    data: {
                        logout: true
                    },
                    success: function(data) {
                        console.log("hup");
                        location.reload();
                    },
                    error: function(jqXHR) {
                        console.log(jqXHR.responseText + ' :: ' + jqXHR.statusText);
                    }
                });
            });
        </script>
    </div>
</body>

</html>